<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Login page</title>
</head>
<body>
<!--Инструмент для центровки контента сайта. Используйте класс container для фиксированной ширины-->
<div class="container">
    <!--Центровка-->
    <div class="row justify-content-center">
        <div class="col-4">
            <div th:if="${param.error}">
                Invalid email or password, try again
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-4">
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
        </div>
    </div>
    <form th:action="@{/login}" method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-4 mt-5">
                    <h4>Please sign in</h4>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <input class="form-control form-control-lg" type="text" placeholder="Email address"
                           name="username">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <input class="form-control form-control-lg" type="password" placeholder="Password"
                           name="password">
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4 mt-2">
                    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>