<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>NEW USER</title>
</head>
<body>
<br>
<div align="center">
  <h2>New User</h2>
  <form th:action="@{/admin/new}" method="post" th:object="${user}">
    <table border="5" cellpadding="15">
      <tr>
        <td>Name:</td>
        <td><input type="text" name="name" th:field="*{name}"/></td>
      </tr>
      <tr>
        <td>Email:</td>
        <td><input type="text" name="email" th:field="*{email}"/></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type= "text" name="password" th:field="*{password}"/></td>
      </tr>
      <br>
      <div class="form-group row">
        <label class="col-4 col-form-label">Roles: </label>
        <div class="col-8">
          <th:block th:each="role: ${listRoles}">
            <input type="radio" th:field="*{roles}"
                   th:text="${role.name}" th:value="${role.id}" class="m-2" />
          </th:block>
        </div>
      </div>
      </br>
      </br>
      <tr>
        <td colspan="2"><input type="submit" value="Add"></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>