<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>UPDATE USER</title>
</head>
<body>
<br>
<div align="center">
    <h2>Edit User</h2>
    <form th:method="POST" th:action="@{/admin/update-user/{id}(id=${user.getId()})}" th:object="${user}">
        <table border="5" cellpadding="15">
            <tr>
                <td>ID:</td>
                <td><input type="number" th:field="${user.id}" readonly/></td>
            </tr>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="${user.name}"/></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" th:field="${user.email}"/></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="text" th:field="${user.password}"/></td>
            </tr>
            <br>
            <br>
            <div class="form-group row">
                <label class="col-4 col-form-label">Roles: </label>
                <div class="col-8">
                    <th:block th:each="role: ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.name}" th:value="${role.id}" class="m-2"/>
                    </th:block>
                </div>
            </div>
            </br>
            </br>
            <tr>
                <td colspan="2"><input type="submit" value="Update"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>